* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #ff0000;
  height: 120px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  background-color: #008000;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.container {
  flex: 1;
  display: flex;
}

.sidebar {
  width: 20%;
  background-color: #800080;
}
.container-content {
  width: 80%;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #d9d9d9;
}
.button-menu {
  visibility: hidden;
}

.btn-close {
  display: none;
  cursor: pointer;
}

.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.menu-title {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px 30px;
  border-bottom: 1px solid black;
  text-transform: uppercase;
  font-size: 20px;
}
.menu-title.active {
  background-color: #d9d9d9;
  color: black;
}

.box1 {
  width: 30px;
  height: 30px;
  background-color: #d9d9d9;
  margin-right: 20px;
}
.box2 {
  width: 30px;
  height: 30px;
  background-color: #d9d9d9;
  margin-right: 20px;
  border-radius: 50%;
}

.menu-title:hover {
  transform: 0.1, 5s;
  background-color: #d9d9d9;
  color: black;
  cursor: pointer;
}
.menu-title:hover span:not(.box3) {
  background-color: black;
}
.menu-title:hover .box3 .arrow-up {
  border-bottom: 25px solid black;
}
.menu-title.active .box3 .arrow-up {
  border-bottom: 25px solid black;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  margin-right: 20px;
  border-bottom: 25px solid #d9d9d9;
}

@media (max-width: 719px) {
  .sidebar {
    transition: 0.2s linear;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 120px;
    left: -100%;
  }

  .sidebar.active {
    left: 0;
    width: 100%;
  }
  .container-content {
    width: 100%;
  }
  .menu-title {
    width: 70%;
  }
  .btn-close {
    display: block;
    padding: 30px;
    color: white;
  }
  .fa-solid.fa-xmark {
    font-size: 30px;
  }
  .menu-btn {
    align-items: flex-start;
  }
  .button-menu {
    visibility: visible;
    color: white;
  }
}
