* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 300px;
}
.header {
  background-color: #ff0000;
}
.footer {
  background-color: #008000;
}

.sidebar {
  background-color: #800080;
  height: 100%;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #d9d9d9;
  margin-left: auto;
}
.header {
  padding: 10px 50px;
}
.footer {
  padding: 25px 50px;
}
.container {
  flex: 1;
}

.menu-title {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px 30px;
  border-bottom: 1px solid black;
  text-transform: uppercase;
  font-size: 20px;
}

.box1 {
  width: 30px;
  height: 30px;
  background-color: #d9d9d9;
  margin-right: 20px;
}
.box2 {
  width: 30px;
  height: 30px;
  background-color: #d9d9d9;
  margin-right: 20px;
  border-radius: 50%;
}

.menu-title:hover {
  transform: 0.1, 5s;
  background-color: #d9d9d9;
  color: black;
  cursor: pointer;
}
.menu-title:hover span:not(.box3) {
  background-color: black;
}
.menu-title:hover .box3 .arrow-up {
  border-bottom: 25px solid black;
}
.menu-title.active .box3 .arrow-up {
  border-bottom: 25px solid black;
}

.menu-title.active {
  background-color: #d9d9d9;
  color: black;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  margin-right: 20px;
  border-bottom: 25px solid #d9d9d9;
}
.content {
  display: grid;
  justify-items: center;
  align-items: center;
}

.btn-close,
.button-menu {
  display: none;
  cursor: pointer;
}

.container {
  flex: 1;
}

.container-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 740px) {
  .header {
    grid-template-columns: 1fr 1fr;
  }

  .sidebar {
    transition: 0.2s linear;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 70px;
    left: -100%;
    width: 100%;
  }

  .sidebar.active {
    left: 0;
    width: 100%;
  }
  .menu-title {
    width: 70%;
  }
  .btn-close {
    display: block;
    padding: 30px;
  }

  .menu-btn {
    align-items: flex-start;
  }
  .button-menu {
    display: inline-block;
  }
}
